*
{
	
	margin: 0;
	padding: 0;
}

.img-wrapper
{ /* border-radius: 11%; */
	width: 300px;
	height: 400px;
	position: relative;
	overflow: hidden;
  margin:20px 30px ;
   /* display: inline; */
   /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */

} 

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
	
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 400px;
	width: 300px;
	/* filter: hue-rotate(405deg) ; */
	/* filter: contrast(115%); */
	/* filter: sepia(var(--value, 100%)); */
	/* filter: grayscale(var(--value, 100%)); */
	/* filter: grayscale(0%); */
	transition: 0.7s;

 
  border-radius: 10%;
  border-width: 3px;
  border-color:  #c5b0b0 ;
  border-style: inherit;
}
.img-wrapper:hover img
 {/*	filter: grayscale(0%); */
	filter : grayscale (100%);
	filter: grayscale(var(--value, 100%));
	transform: scale(1.1);
}

.img-wrapper h2
{
	/* background: tomato; */
	/* background: #7520ff; */
    background: linear-gradient(45deg,  #6c24df, #f14979);
	/* font-family: cursive; */
	font-size: x-large;
font-family:initial;
font-style: italic;
font-weight: bold;
	color: rgb(0, 0, 0);
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}
.img-wrapper h2 small{
    background: linear-gradient(45deg,  #6c24df, #f14979);
	
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

/* h6 */
.img-wrapper h6
{
	/* background: tomato; */
	/* background: #7520ff; */
    background: linear-gradient(45deg, #6c24df, #f14979);
	font-family:initial;
	font-style: italic;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 5px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
font-size: smaller;
}
.img-wrapper:hover h6
{
	transform: perspective(400px) rotateY(0deg);
}


/* h5 */
.img-wrapper h5
{
	/* background: tomato; */
	/* background: #7520ff; */
    background: linear-gradient(45deg, #6c24df, #f14979);
	font-family:initial;
	font-style: italic;
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 5px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
font-size: smaller;
}
.img-wrapper:hover h5
{
	transform: perspective(400px) rotateY(0deg);
}


.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	/* color: tomato; */
	
    color: #7520ff;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	/* color: tomato; */
    color: #7520ff;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	/* color: #fff; */
    color:  #df144d;
	background: rgba(255, 255, 255, 0);
}

.imgContainer{
  display: flex;
  flex-wrap: wrap;
 
  /* background: linear-gradient(-45deg,  #9865eb,  #f1618a, #9865eb,  #df144d);
  background-size: 1000% 1000%;
  animation: gradient 5s ease infinite; */
  box-shadow: hsl(343, 84%, 48%) 0px 20px 30px -10px;
  background-color: #f1f1f1;
  /* background-image: url(https://i.pinimg.com/originals/4d/ef/c5/4defc5b00247ead5c029db590045cdb1.gif ) ; */
}

.imgContainer > div{

margin-left: auto;
 margin-right: auto;
padding: 10px;
 -webkit-background-clip: text; 
/* background: linear-gradient(-45deg,#7520ff,   #f1618a, #7520ff,  #df144d);
background-size: 1000% 1000%;
animation: gradient 15s ease infinite; */
border-radius:20%;


box-shadow:  #7520ff 0px 20px 30px -10px;
}


 .perspective-text {
	color: #fcedd8;
	font-family: Arial;
	font-size: 58px;
	font-weight: 900;
	letter-spacing: -2px;
	text-transform: uppercase;
  }
  
  .perspective-line {
	height: 50px;
	overflow: hidden;
	position: relative;
  }
  
  p {
	margin: 0;
	height: 50px;
	line-height: 50px;
	transition: all 0.5s ease-in-out;
  }
  
  .perspective-line:nth-child(odd) {
	transform: skew(60deg, -20deg) scaleY(0.667);
  }
  
  .perspective-line:nth-child(even) {
	transform: skew(0deg, -20deg) scaleY(1.337);
  }
  
  .perspective-text:hover p {
	transform: translate(0, -50px);
  }
  
  .perspective-line:nth-child(1) {
	left: 29px;
  }
  
  .perspective-line:nth-child(2) {
	left: 58px;
	background: #df144d;
  }
  
  .perspective-line:nth-child(3) {
	left: 87px;
	background: #7520ff;
  }
  

  
  .perspective-line:nth-child(5) {
	left: 145px;
  } 




  header {
	width: 100%;
	height: 55%;
	background-size: cover;
  }
  
  .logo {
	font-family: "Pattaya", sans-serif;
	line-height: 60px;
	position: absolute;
	float: left;
	margin: 16px 46px;
	color: #7520ff;
	background: linear-gradient(45deg, #7520ff, #e96188);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 2px;
  }
  .logo .fas {
	font-size: 70px;
  }
  .fas {
	font-size: xx-large;
	color: #7520ff;
	background: linear-gradient(45deg, #7520ff, #e96188);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  nav {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	z-index: 100;
	top: 0;
	line-height: 60px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
	  rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
	  rgba(235, 162, 162, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  
  nav.scrolled {
	background: #fff;
  }
  
  nav ul {
	line-height: 60px;
	list-style: none;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	color: #000;
	padding: 0;
	text-align: right;
	margin: 0;
	padding-right: 40px;
	transition: 1s;
  }
  
  nav.black ul {
	background: #000;
  }
  
  nav ul li {
	display: inline-block;
	padding: 16px 40px;
  }
  
  nav ul li a {
	text-decoration: none;
	color: #7520ff;
	font-size: 32px;
	font-weight: 600;
	background: linear-gradient(45deg, #7520ff, #e96188);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  @media (max-width: 786px) {
	.logo {
	  position: fixed;
	  top: 0;
	  margin-top: 16px;
	}
  
	nav ul {
	  max-height: 0px;
	  background: #000;
	}
  
	nav.black ul {
	  background: #000;
	}
  
	.showing {
	  max-height: 34em;
	}
  
	nav ul li {
	  box-sizing: border-box;
	  width: 100%;
	  padding: 24px;
	  text-align: center;
	}
  
	.menu-icon {
	  display: block;
	}
  }
  header{
	background-image: url(https://i.pinimg.com/originals/4d/ef/c5/4defc5b00247ead5c029db590045cdb1.gif);
	background-position: 0%;
  }
  /* #headerText{
	 font-size: 15rem;
		  text-align: center;
		height:90vh;
		line-height: 65vh;
		  color: #fcedd8;
			 font-family: 'Niconne', cursive;
		  font-weight: 700;
		text-shadow: 5px 5px 0px #eb452b, 
					10px 10px 0px #efa032, 
					15px 15px 0px #46b59b, 
					20px 20px 0px #017e7f, 
					25px 25px 0px #052939, 
					30px 30px 0px #c11a2b, 
					35px 35px 0px #c11a2b, 
					40px 40px 0px #7520ff, 
					45px 45px 0px #e96188;
					
  } */

