body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
  color:  #7520ff;
  background: none;
  background-color: black;
  color: white;
  font-size: larger;
}



  
  
  /* Styles for the table on the cart page */
  
  #cart {
    border-collapse: collapse;
    margin: auto;
    width: 90%;
    
  
    
  }

  #cart thead tr th {
    font-family: "Pattaya", sans-serif;
    color: #7520ff;
  background: linear-gradient(45deg, #7520ff, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    border-top:3px solid #062f4f ;
    border-bottom: 3px solid #062f4f;
    /* border-right: 3px solid #062f4f;
    border-left: 3px solid #062f4f; */
    font-weight: bold;
    padding: 1em 1em;
    padding-left: 50px;
    font-size: 3rem;
    
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  
  #cart tr td {
    border-bottom: 1px solid #062f4f;
    border-collapse: none;
    color: #000;
    padding: .5em 1em;
    text-align: center;
    width: auto;
    padding-left: 50px;
    font-family: "Gamja Flower", cursive;
    font-size: 1.2rem;
    
  }
  
  #cart tr td:first-child,
  #cart tr th:first-child {
    text-align: left;
    width: 100%;
  
  }
  
  #cart tr td:last-child {
    
    color: red;
    cursor: pointer;
    padding-left: 50px;
  }
.card {
  
    margin: 40px 0px;
    padding: 40px 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
    

}


#fname{
  width: 400px;
  height: 40px;
  margin-left:-5px;
}
#email{
  width: 400px;
  height: 40px;
  margin-left:-5px;
}
#adr{
  width: 400px;
  height: 40px;
  margin-left:-5px;
}
#city{
  width: 400px;
  height: 40px;
  margin-left:-5px;
}


input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #9FA8DA;
    outline-width: 0;
    font-weight: 400
}

button:focus {
  text-align: center;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
    
}

.pay {
    width: 80px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #673AB7;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
}
h3{
  font-size: 40px;
}

#quantity{
  width: 70px;
  height: 29px;
  margin-top: 1.1mm;
  margin-left:-70px ;
  position:absolute; top:865px
}

.Payform{
  background:linear-gradient(45deg, #7520ff, #e96188);
  width:30%;
  height: 80%;
  margin-left: 500px ;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  /* margin: 0 -16px; */
  width: 600px;
  margin: auto;
/* width: 60%; */
  

}


.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  text-align: center;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  width:600px;
  /* margin-left:500px; */
}
.col-25,
.col-50,
.col-75 {
  /* padding: 0 16px; */
}

.container {
  background: linear-gradient(45deg, #7520ff, #e96188);
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}


span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 600px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

#cname{
  width: 400px;
  height: 40px;
  margin: left -5px;
  

}
#ccnum{
  width: 400px;
  height: 40px;
  margin-left:-5px;
}
#expmonth{
  width: 400px;
  height: 40px;
  margin-left:-5px;
}
#expyear{
  margin-left:-5px;
  margin-right:30px;
  width: 200px;
}
#cvv{
  width:200px;
  margin-right: 30px;
  margin-left: -5px;
}
#state{
  margin-left:-5px;
  margin-right:30px;
  width: 210px;
}
#zip{
  margin-left:-5px;
  margin-right:50px;
  width: 210px;

}

#cart-title{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 75vh;
  color: #fcedd8;
  background-color: var(--bg-color);
  font-family: 'Maitree', serif;
}
#cart-title h1{
  font-size: 10rem;
  font-weight: normal;
}

/* title styles */
.home-title span{
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title span::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(-101%);
}

.home-title span::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
  animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
  animation-delay: 1.5s;
}

@keyframes a-ltr-after{
  0% {transform: translateX(-100%)}
  100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
  0% {transform: translateX(0)}
  100% {transform: translateX(200%)}
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 36%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color:#7520ff;
  color: white;
}

.modal-header h2 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
}

.modal-body {
    padding: 2px 16px;
    height: 270px;
    
    text-align: center;
    font-size: 20px;
    padding-top: 21px;
    font-family: cursive;
    background-image:url(https://media.giphy.com/media/dAzkOoCgoFHtCAdFhe/giphy.gif);
    background-repeat: no-repeat;
    background-position-x: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: rgba(216, 240, 220, 0.919);
  color: black;
  font-size: 15px;
  text-align: center;
  font-family: cursive;
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 175px;
  background-color: rgba(85, 85, 85, 0.748);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
  font-size: 10px;
  height: 25px;
  top: -46px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  /* top: 100%; */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(85, 85, 85, 0.734) transparent transparent transparent;
  top: 25px;
  left: 80px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* ////// button  */

.one, .btn, .three, .four, .five {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.one:hover, .btn:hover, .three:hover, .four:hover, .five:hover {
  background-position: 0% 30%;
}
.one:hover:after, .btn:hover:after, .three:hover:after, .four:hover:after, .five:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.one:before, .btn:before, .three:before, .four:before, .five:before, .one:after, .btn:after, .three:after, .four:after, .five:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.one:before, .btn:before, .three:before, .four:before, .five:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.one:after, .btn:after, .three:after, .four:after, .five:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}


.btn {
  font-size: 30px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #E48A3C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E48A3C), to(rgba(222, 135, 61, 0.24))), url("http://www.eatweartravel.com/wp-content/uploads/2015/04/i-love-shopping_1920x1200_83206.jpg");
  background-image: linear-gradient(to bottom, #E48A3C, rgba(222, 135, 61, 0.24)), url("http://www.eatweartravel.com/wp-content/uploads/2015/04/i-love-shopping_1920x1200_83206.jpg");
}
.btn:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #E48A3C;
}
.btn:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.btn:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.btn:after, .btn:before {
  content: "ÔÅ∫";
}
.btn b {
  color: #FFD9B4;
  font-weight: 700;
}
  
#clearCartButton {
  margin-left: 700px;
  width:150px;
  height: 50px;
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #bd2a78));
    background:-moz-linear-gradient(top, #ff5bb0 5%, #bd2a78 100%);
    background:-webkit-linear-gradient(top, #ff5bb0 5%, #bd2a78 100%);
    background:-o-linear-gradient(top, #ff5bb0 5%, #bd2a78 100%);
    background:-ms-linear-gradient(top, #ff5bb0 5%, #bd2a78 100%);
    background:linear-gradient(to bottom, #ff5bb0 5%, #bd2a78 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#bd2a78',GradientType=0);
    background-color:#ff5bb0;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffb2ea;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #c70067;}
    #clearCartButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bd2a78), color-stop(1, #ff5bb0));
    background:-moz-linear-gradient(top, #bd2a78 5%, #ff5bb0 100%);
    background:-webkit-linear-gradient(top, #bd2a78 5%, #ff5bb0 100%);
    background:-o-linear-gradient(top, #bd2a78 5%, #ff5bb0 100%);
    background:-ms-linear-gradient(top, #bd2a78 5%, #ff5bb0 100%);
    background:linear-gradient(to bottom, #bd2a78 5%, #ff5bb0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd2a78', endColorstr='#ff5bb0',GradientType=0);
    background-color:#bd2a78;
  }
  #clearCartButton:active {
    position:relative;
    top:1px;
  }
   
