/* img{
    height: 500px;
     width: 350px;
      margin-right:7px;
      margin-top: 50 px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-left:150px;
} */

      /* img {
        display: block;
        width: 150px;
        float: left;
        height: 150px;
        border: 2px solid lightblue;
      } */