
li {
    display: inline-block
    
  }
  a:link {
    text-decoration: none;
  }
  
  /* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(238, 105, 161);
  } */
  /* .shop-items{
    padding-top: 50px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-left:150px;
    
    /* margin-right: 150px; */
  /* }
  #row1 { 
   
        margin-top: 100 px;
        margin-bottom: 100px;
    
}

#row2{
    margin-top: 100 px;
    margin-bottom: 100px;
   
}

#row3{
    margin-top: 100 px;
    margin-bottom: 100px;
   
}

#row4{
    margin-top: 100 px;
    margin-bottom: 100px;
   
}

h3{
    display: inline;
    background-color: black;
    color: blanchedalmond; */
 