* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden; /* Hide horizontal scrollbar */}

body {
  background: linear-gradient(217deg, #f5f5f5, #fdfdfd, #f5f5f5, #fdfdfd 60%);
  background-size: 1000% 1000%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 70%;
  background-size: cover;
}

.logo {
  font-family: "Pattaya", sans-serif;
  line-height: 60px;
  position: absolute;
  float: left;
  margin: 16px 46px;
  color: #7520ff;
  background: linear-gradient(45deg, #7520ff, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
}
.logo .fas {
  font-size: 70px;
}
.fas {
  font-size: xx-large;
  color: #7520ff;
  background: linear-gradient(45deg, #7520ff, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  z-index: 100;
  top: 0;
  line-height: 60px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(235, 162, 162, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

nav.scrolled {
  background: #fff;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #000;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #7520ff;
  font-size: 32px;
  font-weight: 600;
  background: linear-gradient(45deg, #7520ff, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}
header{
  background-image: url(https://i.pinimg.com/originals/4d/ef/c5/4defc5b00247ead5c029db590045cdb1.gif);
  background-position: 0%;
}
#headerText{
   font-size: 15rem;
	    text-align: center;
      height:90vh;
      line-height: 65vh;
	    color: #fcedd8;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939, 
                  30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b, 
                  40px 40px 0px #7520ff, 
                  45px 45px 0px #e96188;
                  
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#sect3 {
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 55px;
  padding-right: 55px;
  background-image: url();
  background-repeat: unset;
}
#sect3 h2 {
  font-family: "Pattaya", sans-serif;
  background: linear-gradient(45deg, #7520ff, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-style: normal;
  line-height: 1.2;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #7520ff;
}
#sect3 p {
  display: inline-block;
  color: #000;
  font-family: "Gamja Flower", cursive;
  font-size: 1.2rem;
  line-height: 1;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.parent_div {
  display: block;
  width: 100%;
  overflow: auto;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: left;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}
#videoDiv {
  display: inline-block;
  float: right;
  margin-block-start: -250px;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 5px;
  border: 10px solid #eee5e5;
  outline: 5px dashed #eee5e5;
  position: relative;
}
#sect2 {
  padding-top: 90px;
  padding-bottom: 15px;
}
#sect2 h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 2rem;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #000;
}
#sect1 {
  padding-top: 90px;
  padding-bottom: 15px;
}

#sect1 h2 {
  font-family: "Pattaya", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #7520ff;
  background: linear-gradient(45deg, #7520ff, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hearth {
  color: #7520ff;
  font-size: 75px;
  background: linear-gradient(45deg, #7520ff, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hearth .fas {
  font-size: 75px;
}

.card-center {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-box-pack: left !important;
  justify-content: left !important;
  margin-right: -15px;
  margin-left: -15px;
}

.card-wrap {
  padding: 1rem !important;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  border: none;
  flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-flex: 0;
  position: relative;
  width: 100%;
}
.card-img {
  text-align: center;
  -webkit-flex-shrink: 0;
  padding-bottom: 1.5rem !important;
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}
.card-box h4 {
  margin-top: 0;
  display: block;
  font-family: "Pattaya", sans-serif;
  font-size: 2.2rem;
  color: #66458e;
  text-align: center;
  margin-bottom: 0.75rem;
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
}
.card-box p {
  font-family: "Gamja Flower", cursive;
  font-size: 1rem;
  color: #000;
  font-size: 1.2rem;
  font-style: normal;
  line-height: 1.6;
  text-align: center;
}
.img-wrap {
  display: inline-block;
  float: right;
  margin-block-start: -700px;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.img-wrap img {
  width: 50%;
  border: 10px solid #eee5e5;
  outline: 5px dashed #eee5e5;
  position: relative;
}

@keyframes clip {
  0% {
    clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
  }
  100% {
    clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}
.clip {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center;
}
#clip {
  transform: scale(1.1, 1.1);
  animation: clip 9s linear infinite;
}

.wrapper1 {
  display: inline-block;
  height: 420px;
  width: 654px;
  margin-left: 30px;
  /* margin: 50px; */

  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.wrapper2 {
  display: inline-block;
  height: 420px;
  width: 654px;
  /* margin: 50px ; */
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
  font-family: "Pattaya", sans-serif;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: "Gamja Flower", cursive;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 19px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Pattaya", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #7520ff;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #e96188;
}

footer {
  clear: both;
  text-align: center;
  color: #000;
  font-size: medium;
  padding: 80px;
}
footer a {
  float: right;
  text-decoration: none;
  color: #7520ff;
  font-size: 32px;
  font-weight: 600;
  background: linear-gradient(45deg, #7520ff, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .fab {
  padding: 0 15px;
  float: left;
  font-size: xx-large;
}
footer .fab:hover {
  background: linear-gradient(45deg, #7520ff, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.background {
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
}
.shapeContainer {
  position: relative;
}
.shape {
  position: absolute;
  top: -150px;
  left: 15%;
  height: 300px;
  margin-left: -75px;
  margin-top: -150px;
  width: 150px;
  transition: 1s all ease;
}

.front {
  background: linear-gradient(
    left,
    rgba(40, 42, 90, 0.9),
    rgba(79, 37, 105, 0.8)
  );
  background: -webkit-linear-gradient(
    left,
    rgba(40, 42, 90, 0.9),
    rgba(79, 37, 105, 0.8)
  );
  background: -o-linear-gradient(
    right,
    rgba(40, 42, 90, 0.9),
    rgba(79, 37, 105, 0.8)
  );
  background: -moz-linear-gradient(
    right,
    rgba(40, 42, 90, 0.9),
    rgba(79, 37, 105, 0.8)
  );
  background: linear-gradient(
    to right,
    rgba(40, 42, 90, 0.9),
    rgba(79, 37, 105, 0.8)
  );
}

.back {
  background: #aaa;
  background-size: cover;
  background-position: 40% 50%;
}

.one,
.background:hover .six {
  -webkit-clip-path: polygon(10% 10%, 51% 0, 10% 27%);
  -moz-clip-path: polygon(10% 10%, 51% 0, 10% 27%);
  clip-path: polygon(10% 10%, 51% 0, 10% 27%);
}

.two,
.background:hover .five {
  -webkit-clip-path: polygon(10% 10%, 87% 19%, 86% 32%, 10% 27%);
  -moz-clip-path: polygon(10% 10%, 87% 19%, 86% 32%, 10% 27%);
  clip-path: polygon(10% 10%, 87% 19%, 86% 32%, 10% 27%);
}

.three,
.background:hover .four {
  -webkit-clip-path: polygon(0% 41%, 87% 19%, 86% 32%, 0% 58%);
  -moz-clip-path: polygon(0% 41%, 87% 19%, 86% 32%, 0% 58%);
  clip-path: polygon(0% 41%, 87% 19%, 86% 32%, 0% 58%);
}

.four,
.background:hover .three {
  -webkit-clip-path: polygon(0% 41%, 100% 44%, 99% 63%, 0% 58%);
  -moz-clip-path: polygon(0% 41%, 100% 44%, 99% 63%, 0% 58%);
  clip-path: polygon(0% 41%, 100% 44%, 99% 63%, 0% 58%);
}

.five,
.background:hover .two {
  -webkit-clip-path: polygon(16% 71%, 100% 44%, 99% 63%, 16% 87%);
  -moz-clip-path: polygon(16% 71%, 100% 44%, 99% 63%, 16% 87%);
  clip-path: polygon(16% 71%, 100% 44%, 99% 63%, 16% 87%);
}

.six,
.background:hover .one {
  -webkit-clip-path: polygon(16% 71%, 54% 100%, 16% 87%);
  -moz-clip-path: polygon(16% 71%, 54% 100%, 16% 87%);
  clip-path: polygon(16% 71%, 54% 100%, 16% 87%);
}

#my_pop_up_box1 {
  position: absolute;
  content: "";
  top: 5%;
  left: 70%;
  transform: translate(-60%, -55%);
  display: none;
}
#my_pop_up_box1 img {
  border-radius: 100%;
}
#my_pop_up_box1 button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Pattaya", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #7520ff;
  cursor: pointer;
  outline: none;
}
#my_pop_up_box2 {
  position: absolute;
  content: "";
  top: 5%;
  left: 70%;
  transform: translate(-60%, -55%);
  display: none;
}
#my_pop_up_box2 img {
  border-radius: 100%;
}
#my_pop_up_box2 button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Pattaya", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #7520ff;
  cursor: pointer;
  outline: none;
}

.flowerContainer {
  height: 100px;
  width: 100px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.droplet {
  border-radius: 5px 90%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  height: 100px;
  margin: auto;
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
  transform-origin: left top;
  opacity: 0;
}

#no1 {
  background: purple;
  animation: spin 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

#no2 {
  background: violet;
  animation: spin2 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.05s;
}

#no3 {
  background: purple;
  animation: spin3 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

#no4 {
  background: violet;
  animation: spin4 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
}

#no5 {
  background: purple;
  animation: spin5 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

#no6 {
  background: violet;
  animation: spin6 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
}

#no7 {
  background: purple;
  animation: spin7 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

#no8 {
  background: violet;
  animation: spin8 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.35s;
}

#no9 {
  background: purple;
  animation: spin9 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

#no10 {
  background: violet;
  animation: spin10 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.45s;
}

@keyframes spin {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(324deg) scale(1);
    transform: rotate(324deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(324deg) scale(1);
    transform: rotate(324deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(288deg) scale(1);
    transform: rotate(288deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(288deg) scale(1);
    transform: rotate(288deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin3 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(252deg) scale(1);
    transform: rotate(252deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(252deg) scale(1);
    transform: rotate(252deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin4 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(2160deg) scale(1);
    transform: rotate(216deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(216deg) scale(1);
    transform: rotate(216deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin5 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin6 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(144deg) scale(1);
    transform: rotate(144deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(144deg) scale(1);
    transform: rotate(144deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin7 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(108deg) scale(1);
    transform: rotate(108deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(108deg) scale(1);
    transform: rotate(108deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin8 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(72deg) scale(1);
    transform: rotate(72deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(72deg) scale(1);
    transform: rotate(72deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin9 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(36deg) scale(1);
    transform: rotate(36deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(36deg) scale(1);
    transform: rotate(36deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin10 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}
